<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mechfinder">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">

    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Mechfinder">
        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity android:name=".complant_support"></activity>
        <activity android:name=".app_feedback" />
        <activity android:name=".invoice" />
        <activity android:name=".order_history" />
        <activity android:name=".profile_location" />
        <activity android:name=".profile_personal" />
        <activity android:name=".checkout" />
        <activity android:name=".notification" />
        <activity android:name=".saveip" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".reviews" />
        <activity android:name=".worckshop" />

        <activity android:name=".home_services" />
        <activity android:name=".my_account" />
        <activity android:name=".bot" />
        <activity android:name=".vehicle" />
        <activity android:name=".home" />
        <activity android:name=".Registration_vehicle" />
        <activity android:name=".registration_home_ocation" />
        <activity android:name=".change_password" />
        <activity android:name=".registration" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">

        </activity>

        <service android:name=".LocationService"></service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>